.vitalSignItemView {
  flex: 0 0 250px;
  border-style: groove;
  border-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  top: 59px;
  bottom: 70px;
  width: 100%;
  background-color: #f7f9fd;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.inputValueForm {
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  font-size: small;
}

.vitalSignID {
  display: none;
}

.vitalSignText {
  font-weight: 600;
}

.valueText {
  font-weight: bold;
  color: black;
}

.unitMeasureText {
  color: grey;
}

.timeText {
  color: grey;
}
